/* registration */
.mydata{
    /* text-align: center; */
    margin:1% auto;
    /* display: block; */
    /* width: 500px; */
    
}
.mydata h2, .mydata a{
    /* margin: 10px; */
    text-align: center;
}

#btn1{
    width: 20%;
    /* padding: 7px; */
    margin:5% auto;
    background-color: red;
    color:black;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.myform{
    margin: 1% auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 0.7px solid gray;
    padding: 2% ;
    border-radius: 20px;
    margin-bottom: 5%;

}
.myform input:hover{
    box-shadow: 2px 2px 5px gray;
}
.myform label{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    border-radius: 200px;
}
.myform input{
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border: 0.5px solid gray;
    border-radius: 7px;
}
input[type='checkbox']{
    /* width: 20px;
    height: 20px; */

    scale: 1.2;
    border-radius: 100px;
}
.btn{
    width: 50%;
    padding: 7px;
    margin:1% auto;
    background-color: teal;
    color:black;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.btn:hover{
    background-color: darkcyan;
    box-shadow: 5px 5px 5px gray;
}
.lin{
    text-decoration: none;
    margin: 1px auto;
}
.lin:hover{
    text-decoration: underline;
    color:navy;
}

/* dashboard */
.navbar{
    background-color: turquoise;
}
.nav-link{
    color: aliceblue;
}
h2{
    color: tomato;
}